<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Magic Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/fevicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
</head>
<body>
    <!-- Header Section -->
    <header class="custom-header">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static',filename='img/The_Magic_Store_Logo.png')}}" class = logo-img alt="Logo" />
            </a>
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="books">BOOKS</a></li>
                <li><a href="electronics">ELECTRONICS</a></li>
                <li><a href="fashion">FASHION</a></li>
            </ul>
        </nav>
        <div class="user-icons">
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            {% if semail%}
                <a href="manageproduct"><i class="fa-solid fa-store"></i></a>
                <a href="profile"><i class="fa-solid fa-user"></i></a>
            {% elif email %}
                <a href="profile"><i class="fa-solid fa-user"></i></a>
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            {% else %}
                <a href="sellerregister"> Become a Seller </a>
                <a href="register"><i class="fa-solid fa-user"></i></a>
                <a href="/register"><i class="fa-solid fa-cart-shopping"></i></a>
            {% endif %}
        </div>
    </header>
    



    <!-- Main Banner Section -->
    <section class="banner">
        <div class="banner-slider">
            <div class="banner-slide active">
                <img src="https://res.cloudinary.com/dql90uw2x/image/upload/v1731758967/e76t2smbur45zx7iisqh.png" class="banner-image" alt="Banner 1">
            </div>
            <div class="banner-slide">
                <img src="{{ url_for('static',filename='img/ban2.webp')}}" class="banner-image" alt="Banner 2">
            </div>
            <div class="banner-slide">
                <img src="{{ url_for('static',filename='img/ban3.webp')}}" class="banner-image" alt="Banner 3">
            </div>
        </div>
        <div class="banner-controls">
            <button class="prev-btn">&#10094;</button>
            <button class="next-btn">&#10095;</button>
        </div>
        <div class="banner-indicators">
            <span class="indicator active" data-slide="0"></span>
            <span class="indicator" data-slide="1"></span>
            <span class="indicator" data-slide="2"></span>
        </div>
    </section>
    
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dql90uw2x/image/upload/v1731758967/e76t2smbur45zx7iisqh.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static',filename='img/ban2.webp')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static',filename='img/ban3.webp')}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

    <!-- Product Categories Section -->
    <section class="new-arrivals">
    <br>
        <h2>NEW ARRIVALS</h2>

        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                    <a href="order/{{ product._id }}">
                        <div class="image">
                            <img class="image-img" src="{{ product.images[0] }}" alt="">
                        </div>
                        <h3>{{ product.product_name }}</h3>
                        <p>{{ product.description }}</p>
                        <p>₹{{ product.price }}</p>
                        <br>
                    </a>
            </div>
            {% endfor %}
        </div>   
    </section>
    <br>

    <section class="books">
        <br>
            <h2>BOOKS</h2>
    
            <div class="books-grid">
                {% for product in books %}
                <div class="books-card">
                        <a href="order/{{ product._id }}">
                            <div class="image">
                                <img class="image-img" src="{{ product.images[0] }}" alt="">
                            </div>
                            <h3>{{ product.product_name }}</h3>
                            <p>{{ product.description }}</p>
                            <p>₹{{ product.price }}</p>
                            <br>
                        </a>
                </div>
                {% endfor %}
            </div>   
        </section>
        <br>



        <section class="electronics">
            <br>
                <h2>ELECTRONICS</h2>
                <div class="electronic-grid">
                    {% for product in electronics %}
                    <div class="electronic-card">
                            <a href="order/{{ product._id }}">
                                <div class="image">
                                    <img class="image-img" src="{{ product.images[0] }}" alt="">
                                </div>
                                <h3>{{ product.product_name }}</h3>
                                <p>{{ product.description }}</p>
                                <p>₹{{ product.price }}</p>
                                <br>
                            </a>
                    </div>
                    {% endfor %}
                </div>   
            </section>
            <br>

    <!-- Footer Section -->
    <footer>
        <div class="footer-div">
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/iam_abhii___/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abhijeethursad/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        <p>&copy; 2024 The Magic Store. All Rights Reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        let currentIndex = 0;
        const images = document.querySelectorAll('.banner-image');
        
        function changeBanner() {
            images[currentIndex].classList.remove('active');
            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].classList.add('active');
        }
        
        setInterval(changeBanner, 3000);  // Change image every 3 seconds
    </script>

<script src="{{ url_for('static',filename='js/index.js')}}"></script>
        

</body>
</html>